/*見出しにアンダーラインを付加する。見出しごとにアンダーラインの太さを変える*/
h1 {
  border-bottom: solid 2.5px;
}

h2 {
  border-bottom: solid 2.0px;
}

h3 {
  border-bottom: solid 1.5px;
}

h4 {
  border-bottom: solid 1.0px;     
}

/*見出しの最初の文字のみ大きくする*/
h1:first-letter {
  font-size: 1.25em;
}
